h1 {
  color: white;
}

/* * {
  border: solid;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color:gainsboro;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link{
  color: white;
  text-decoration: none
}

a:active{
  opacity: 0.66;
}

a:visited{
  color: white;
  text-decoration: none
}

.header{
  background-color: teal;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;

}

.menu{
  display: flex;
  text-align: right;
  gap: 10px;
  justify-content: flex-end;
  order:2;
  margin-right: 10px
}

.site-description{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
}

.item{
  position: relative;
}

.item img{
  border-radius: 5px;
}

.item:hover img{
  opacity:1;
}

.item p{
  background-color: rgba(0, 128, 128, 0.479);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-56%);
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.item:hover p{
  opacity:1;
  transition: .5s;
}

footer{
  display:center;
  position: sticky;
  bottom: 0;
  background-color: teal;
  width: 100%;
  text-align: center;
  padding-top:10px;
}

p,h2{
  text-align: center;
}